/* Reset basico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #262421;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Tabuleiro Quadrado 8x8 */
.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 560px;
  height: 560px;
}

/* Casas */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  user-select: none;
  position: relative; /* FUNDAMENTAL para o ponto de destaque funcionar */
}

.square.light {
  background-color: #f0d9b5;
  color: #312e2b;
}

.square.dark {
  background-color: #b58863;
  color: #312e2b;
}

/* Destaque da Peça Selecionada */
.square.selected {
  background-color: #bbc25f !important;
}

/* Indicador de Movimento Possível (Ponto Cinza no Centro) */
.square.possible-move::after {
  content: '';
  position: absolute;
  width: 28%;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}

.square.in-check {
    background-color: #e57373 !important;s
}